#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
target
release.properties
pom.xml.*

#Gradle
build
.gradle

#Command line
local.properties
build.xml
proguard-project.txt
